RewriteEngine On
RewriteBase /www/lvdlom/

RewriteCond %{REQUEST_URI} /id_joueurs/ [OR]
RewriteCond %{REQUEST_URI} /id_dirigeants/ [OR]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*) style/img/default-person.png [L,R]

RewriteCond %{REQUEST_URI} /clubs/large/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*) style/img/default-club-large.png [L,R]
