@import "variables.less";

@font-face {
  font-family: "Lvdlom";
  src: url('font/Cabin-SemiBold.ttf');
}

* {
  box-sizing: border-box;
}

body {
  background: @mainBackground;
  background-image: url(img/texture.png), linear-gradient(to bottom, @mainBackground 0%, @mainBackgroundGradientEnd 100%);
  background-attachment: fixed;
}

html, a, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  color: @primaryText;
  font-family: Lvdlom;
  font-size: 10pt;
}

a {
  text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 7px;
  background: @menuBackground;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
::-webkit-scrollbar-thumb {
  background: rgba(7, 105, 173, 0.5); 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(7, 105, 173, 0.25); 
}
