@import "variables.less";

.pure-g {
  height: 100%;
}

/* Blocks */
.g-block {
  padding: 10px;

  > div {
    background: @boxBackground;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
    padding: 10px;

    .g-block-title {
      font-size: 16pt;
      color: #999;
      text-align: center;
      margin-top: 5px;
      margin-bottom: 20px;
    }
    
    .g-row {
      display: table;
      table-layout: fixed;
      width: 100%;
      
      &:not(:first-of-type) {
        margin-top: 10px;
      }
      
      > ul > li {
        display: table-row;
        width: 100%;
      }
      
      > div,
      > ul > li > div {
        display: table-cell;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}

/* Main clock */
.g-fixed-block {
  height: 100%;
}

.g-scroll-block {
  height: 100%;
  
  > div {
    height: calc(~"100% - 50px");
	  overflow-y: auto;
  }
}
