@import "variables.less";

/* Header */
#mini-header {
	display: none;
}
#header,
#mini-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
	height: 35px;
  background: @menuBackground;
  color: @secondaryReversedText;
	border-bottom: 1px solid #7acef4;
	padding: 10px 20px;
}

#header {
  > div {
    display: inline-block;
    margin-right: 40px;
    width: auto;
  }
  .match {
    color: @primaryReversedText;
  }
  .caret:before {
    content: '\25b6';
    color: @primaryReversedText;
    margin: 0 5px;
  }
  .prochain > ul {
    display: inline-block;
    
    > li {
	    display: inline-block;
	    margin-right: 20px;
	    
	    > div {
	      display: inline-block;
	    }
    }
  }
  .tele {
    font-size: 9pt;
    margin-left: 5px;
    font-style: italic;
  }
}

#mini-header {
	padding: 0 10px;
	background: url(img/mini-title.png) no-repeat 40px center, @menuBackground;
	background-size: 109px 18px;
	line-height: 35px;
	
	.hamburger {
	  vertical-align: middle;
	  cursor: pointer;
	  font-size: 1.25em;
	}
}

/* Content */
#content {
  position: fixed;
  overflow-y: auto;
  top: 35px;
  left: 160px;
  right: 0;
  bottom: 0;
  padding: 15px;
  
  #payload {
    display: block;
    width: 1490px;
    margin: auto;
  }
}

/* Laptop */
@media (min-width: 1280px) and (max-width: 1679px) {
  #content {
    #payload {
      width: 740px;
    }
  }	
}


/* Mobile */
@media (max-width: 1279px) {
  #header {
    display: none;
  }
  #mini-header {
    display: block;
  }
  
  #content {
    left: 0;
    
    #payload {
      width: 325px;
    }
  }
}
