/* Background */
@mainBackground: #0769ad;
@mainBackgroundGradientEnd: #032f4c;
@menuBackground: #01131f;
@menuHighlightBackground: #02273f;
@boxBackground: #fff;
@alternateBackground: #f7f7f7;
@maskBackground: #02273f;
@breadcrumbBackground: rgba(25, 25, 25, 0.25);
@tableSelected: rgba(255, 144, 0, 0.4);

/* Texts */
@primaryText: #333;
@secondaryText: #999;
@primaryReversedText: #ccc;
@secondaryReversedText: #999;
@selectedText: #ff9000;
@iconText: #fff;

/* Border */
@tableBorder: #ccc;

/* Postes */
@poste_ga: #9b59b6;
@poste_de: #1abc9c;
@poste_mi: #f39c12;
@poste_av: #c0392b;

/* Competitions */
@competition_europe: #c0392b;
@competition_coupe_france: #9b59b6;
@competition_championnat: #2980b9;
@competition_coupe_ligue: #2ecc71;

/* Résultat */
@resultat_v: #2ecc71;
@resultat_n: #f39c12;
@resultat_d: #e74c3c;