/* Background */
@mainBackground: #0769ad;
@mainBackgroundGradientEnd: #032f4c;
@menuBackground: #01131f;
@menuHighlightBackground: #02273f;
@boxBackground: #fff;
@alternateBackground: #f7f7f7;
@barBackground: #666;
@maskBackground: #02273f;
@breadcrumbBackground: rgba(25, 25, 25, 0.4);
@tableSelected: lighten(@selectedText, 30%);

/* Texts */
@primaryText: #333;
@secondaryText: #999;
@importantText: #009ddc;
@primaryReversedText: #ccc;
@secondaryReversedText: #999;
@selectedText: #ff9000;
@iconText: #fff;

/* Border */
@tableBorder: #ccc;
@lightBorder: #e7e7e7;
@menuBorder: #333;

/* Buttons */
@button: #0769ad;

/* Icons */
@auClub: #2196f3;

/* Lieux */
@domicile: #4caF50;
@exterieur: #e91e63;

/* Postes */
@poste_ga: #3f51b5;
@poste_de: #009688;
@poste_mi: #ff9800;
@poste_av: #e91e63;

/* Fonction */
@fonction_generic: #999;
@fonction_entraineur: #666;

/* Competitions */
@competition_europe: #e91e63;
@competition_coupe_france: #9c27b0;
@competition_championnat: #3f51b5;
@competition_coupe_ligue: #4caf50;

/* Résultat */
@resultat_v: #4caf50;
@resultat_n: #ff9800;
@resultat_d: #f44336;

/* Cartons */
@cartonJaune: #ffeB3b;
@cartonRouge: #f44336;

/* Remplacant */
@remplacant: #ccc;

/* Palmares */
@trophyVictoire: #ff9800;
@trophyFinale: #f44336;


