<div class="dir-buteurs-match" ng-class="{mini: cfg.mini}">

  <div class="g-row row-maillots">
    <div><lvdlom-maillot cfg="left.maillot"></lvdlom-maillot></div>
    <div><lvdlom-maillot cfg="right.maillot"></lvdlom-maillot></div>
  </div>
   
  <div class="g-row row-buteurs">
    <ul>
      <li ng-repeat="but in buts" ng-class="{left: but.left, right: but.right, adv: but.adv, first: but.first, last: but.last}">
        <span class="icon-but" ng-if="but.left"></span>
        <span class="remark" ng-if="but.left && but.score" >{{but.score}}</span>
        <span class="remark" ng-if="but.right && but.minute" >{{but.minute}}'</span>
        
        <span>{{but.prenom}} {{but.nom}}</span>
        
        <span class="remark" ng-if="but.left && but.minute" >{{but.minute}}'</span>
        <span class="remark" ng-if="but.right && but.score" >{{but.score}}</span>
        <span class="icon-but" ng-if="but.right"></span>
     </li>
    </ul>
  </div>
  
</div>