<div class="dir-classement-match" ng-if="match.id">

  <div class="g-row row-classement">
    <ul>
      <li ng-repeat="row in classement" ng-class="{separator: row.separator, 'g-important': row.om}">
        <div class="g-remark">{{row.pos}}.</div>
        <div>{{row.club}}</div>
        <div class="g-remark">{{row.pts}} pt<span ng-if="row.pts > 1">s</span></div>
      </li>
    </ul>
  </div>
  
  <div class="g-row row-commentaires" ng-if="match.fiche.commentaire">
    <div><span class="fa fa-lg g-fa fa-info-circle"></span>{{match.fiche.commentaire}}</div>
  </div>
  
</div>