@import "style/variables";

.dir-equipe-match {

  .row-joueurs {    
    ul {
      padding: 0 10px;
    }
    
    li {
     
      > div:first-child {
        width: 85%;
      }
      
      &:nth-of-type(11) > div {
        padding-bottom: 3px;
      }
      &:nth-of-type(12) > div {
        border-top: 1px dashed @tableBorder;
        padding-top: 3px;
      }
      
      .remplacant {
        margin-right: 6px;
      }
      .remplacant:before {
        content: '';
        display: inline-block;
        margin-right: 3px;
        border-style: solid;
        border-width: 4px 0 4px 6px;
        border-color: transparent transparent transparent @remplacant;
      }
    }
  }
  
  .row-entraineurs {
    margin-top: 15px;
    margin-left: 10px;
  }


  .first-match,
  .last-match {
    padding: 1px 5px;
    border-radius: 5px;
  }
  .first-match {
    background-color: #b2ebf2;
  }
  .last-match {
    background-color: #ffecb3;
  }
  .first-match.last-match {
    background: linear-gradient(135deg, #b2ebf2 0%, #b2ebf2 50%, #ffecb3 50%, #ffecb3 100%);
  }
}
