<div class="dir-fiche-match" ng-if="match.id">

  <div class="g-row row-score">
    <div class="club" style="background-image: url({{Picture.club(left.id)}})"></div>
    <div class="score">
      <div class="score-container">
        <div class="plain">{{left.buts}}-{{right.buts}}</div>
        <div class="rq" ng-show="match.fiche.rqScore !== ''">{{rqScore}}</div>
      </div>
    </div>
    <div class="club" style="background-image: url({{Picture.club(right.id)}})"></div>
  </div>
  
  <div class="g-row g-info-block row-info" ng-if="!cfg.mini">
    <div>
      <div>{{match.fiche.date | format:'dateLong'}}</div>
      <div><span ng-bind-html="match.competition.sousType | format:'sousTypeCompetition'"></span><span>{{match.competition.nom}}</span></div>
      <div>{{match.fiche.niveau}}</div>
    </div>
    <div>
      <div ng-bind-html="Formatter.saison(match.fiche.saison, 'Saison')"></div>
      <div>{{match.fiche.lieu}}</div>
      <div ng-show="match.fiche.spectateurs > 0">{{match.fiche.spectateurs}} spectateurs</div>
    </div>
  </div>
  
  <div class="g-row row-jyetais" ng-if="match.fiche.jyEtais" >
    <div><span class="fa fa-lg g-fa fa-child"></span>{{match.fiche.jyEtais}}</div>
  </div>
  
</div>