@import "style/variables";

#page-anniversaire {
	text-align: center;

	.uniformized {
	 	height: 160px;
	 
	 .dir-fiche-match {
	   	padding-top: 20px;

	   	.row-jyetais {
	   		margin-top: 5px;
	   	}
	 }
	 
	 	.dir-fiche-joueur > div,
	 	.dir-fiche-dirigeant > div {
	   	height: 140px;
	 	}
	}
	 
}
