<div class="pure-g" id="page-date">

  <lvdlom-breadcrumb cfg="breadcrumb" class="pure-u-1"></lvdlom-breadcrumb>
  
  <div class="pure-u-1">
  
    <div class="pure-u-1 pure-u-lg-1-2 pure-u-xl-1-4 g-block" ng-repeat="match in matches">
      <div class="g-topbar g-main-topbar">{{Formatter.matchTitle(match)}}</div>
      <div class="uniformized">
        <lvdlom-fiche-match match="match" cfg="{mini: true}"></lvdlom-fiche-match>
      </div>
      <div class="g-bottombar">
        <span>{{match.fiche.date | format:'dateLong'}}</span>
        <span class="g-remark">il y a {{Bom.ageSince(match.fiche.date)}} ans</span>
        <a href="#match/{{match.id}}" class="fa fa-mail-forward g-link"></a>      
      </div>
    </div>

    <div class="pure-u-1 pure-u-lg-1-2 pure-u-xl-1-4 g-block" ng-repeat="joueur in joueurs">
      <div class="g-topbar g-main-topbar">{{joueur.fiche.prenom}} {{joueur.fiche.nom}}</div>
      <div class="uniformized">
        <lvdlom-fiche-joueur joueur="joueur" cfg="{mini: true}"></lvdlom-fiche-joueur>
      </div>
      <div class="g-bottombar">
        <span>{{joueur.fiche.dateNaissance | format:'dateLong'}}</span>
        <span class="g-remark">il y a {{Bom.ageSince(joueur.fiche.dateNaissance)}} ans</span>
        <a href="#joueur/{{joueur.id}}" class="fa fa-mail-forward g-link"></a>
      </div>
    </div>
    
    <div class="pure-u-1 pure-u-lg-1-2 pure-u-xl-1-4 g-block" ng-repeat="dirigeant in dirigeants">
      <div class="g-topbar g-main-topbar">{{dirigeant.fiche.prenom}} {{dirigeant.fiche.nom}}</div>
      <div class="uniformized">
        <lvdlom-fiche-dirigeant dirigeant="dirigeant" cfg="{mini: true}"></lvdlom-fiche-dirigeant>
      </div>
      <div class="g-bottombar">
        <span>{{dirigeant.fiche.dateNaissance | format:'dateLong'}}</span>
        <span class="g-remark">il y a {{Bom.ageSince(dirigeant.fiche.dateNaissance)}} ans</span>
        <a href="#dirigeant/{{dirigeant.id}}" class="fa fa-mail-forward g-link"></a>
      </div>
    </div>
    
  </div>

</div>
