#page-date ul.list li {
  position: relative;
  width: 100%;
	height: 36px;
	line-height: 36px;
	margin: 10px 0;
	background: #f7f7f7;
	border-left: 5px solid #f7f7f7;
}

/* Summary */
#page-date .summary {
  text-align: center;
}
#page-date .summary .title {
	width: 100%;
	height: 36px;
  line-height: 36px;
  margin: 10px 0;
  background: #f7f7f7;
  font-size: 14pt;
}
#page-date .summary li {
	position: relative;
  display: inline-block;
  width: 90px;
  height: 75px;
  margin: 0 5px;
  color: white;
  background: #16a085;
  border-radius: 5px;
  padding-top: 5px;
}
#page-date .summary li .figure {
  font-size: 28pt;
}
#page-date .summary li .desc {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 30px;
  font-size: 10pt;
}

/* Lists */
#page-date ul.list li > a {
	display: block;
  width: 100%;
  height: 100%;
}
#page-date ul.list li > a:hover .main span.label {
	text-decoration: underline;
}

#page-date .year,
#page-date .pict,
#page-date .main,
#page-date .main > div,
#page-date .info {
  display: inline-block;
  height: 100%;
}
#page-date .year {
	padding-left: 10px;
	width: 50px;
	color: #999;
}
#page-date .pict > div {
  width: 50px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
}
#page-date .info {
	position: absolute;
	top: 5px;
	right: 5px;
  width: 40px;
  height: 25px;
  line-height: 25px;
  font-size: 11pt;
  color: #fff;
  border-radius: 5px;
  text-align: center;
}

/* Match */
#page-date li.match .info.V {
  background: #2ecc71;
}
#page-date li.match .info.N {
  background: #f39c12;
}
#page-date li.match .info.D {
  background: #e74c3c;
}

#page-date ul.list li.match.C1,
#page-date ul.list li.match.C2,
#page-date ul.list li.match.C3,
#page-date ul.list li.match.IN,
#page-date ul.list li.match.FO {
  border-color: #c0392b;
}
#page-date ul.list li.match.CF {
  border-color: #9b59b6;
}
#page-date ul.list li.match.CH,
#page-date ul.list li.match.L1,
#page-date ul.list li.match.D1,
#page-date ul.list li.match.D2 {
  border-color: #2980b9;
}
#page-date ul.list li.match.CL,
#page-date ul.list li.match.TC {
  border-color: #2ecc71;
}

/* Joueur */
#page-date ul.list li.joueur.GA {
  border-color: #9b59b6;
}
#page-date ul.list li.joueur.DE {
  border-color: #1abc9c;
}
#page-date ul.list li.joueur.MI {
  border-color: #f39c12;
}
#page-date ul.list li.joueur.AV {
  border-color: #c0392b;
