@import "style/variables";

#menu {
  position: fixed;
  width: 220px;
  top: 44px;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  background: @menuBackground;
  font-size: 10.5pt;
  border-right: 1px solid @menuBorder;

  .title {
    width: 114px;
    height: 80px;
    margin: 18px auto 10px auto;
    background: url(img/title.png) no-repeat center center;
    background-size: contain;
  }
  .navigation {
    background: url(img/logo.png) no-repeat bottom 10px right 10px;
    background-size: 60px auto;
    min-height: calc(~"100% - 160px");
    padding-bottom: 50px;
  }
  .navigation li {
    height: 34px;
    line-height: 34px;
    padding-left: 16px;

    &.sep {
      border-bottom: 1px solid @menuBorder;
    }
    &:hover {
      background: @menuHighlightBackground;
    }

    a {
      display: block;
      width: 100%;
      height: 100%;
      color: @primaryReversedText;
      text-decoration: none;
      font-size: 10pt;

      .fa {
        width: 18px;
        margin-right: 6px;
        opacity: 0.6;
        text-align: center;
      }
    }
    &.selected a {
      color: @selectedText;

      .fa {
        opacity: 1;
      }
    }
  }

  #search-field {
    position: relative;
    margin: 12px 10px;

    input {
      padding: 5px 24px 5px 28px;
      width: 100%;
      background: rgba(255,255,255,0.07);
      border: 1px solid @menuBorder;
      border-radius: 5px;
      color: @primaryReversedText;

      &::placeholder {
        color: @secondaryReversedText;
        opacity: 1;
      }
      &:focus {
        outline: none;
        background: rgba(255,255,255,0.12);
        border-color: rgba(255,255,255,0.25);
      }
    }

    .fa {
      position: absolute;
      top: 6px;
      color: @secondaryReversedText;

      &.search {
        left: 8px;
      }
      &.clear {
        right: 8px;
        cursor: pointer;

        &:hover {
          opacity: 0.75;
        }
      }
    }
  }
}

@media (max-width: 1023px) {
  #menu {
    z-index: 9;
    transition: left 0.35s ease;

    &.offcanvas {
      left: -220px;
    }
    .title {
      display: none;
    }
  }
}
