@import "style/variables";

#search-results {
  position: fixed;
  top: 44px;
  left: -80px;
  bottom: 0;
  width: 240px;
  overflow-y: auto;
  border-left: 1px solid @menuBorder;
  font-size: 9pt;
  color: @primaryReversedText;
  background: @menuBackground;
  transition: left 0.35s ease;

  &.visible {
    left: 220px;
  }

  > li {

    a {
      display: block;
      width: 100%;
      height: 100%;
      padding: 8px 5px 8px 12px;
      color: @primaryReversedText;
      text-decoration: none;

      &:hover {
        background: @menuHighlightBackground;
      }

      .match {
        color: lighten(@selectedText, 20%);
      }

      .g-remark {
        margin: 4px 0 0 0;
      }
    }

    &.no-result {
      font-size: 10pt;
      padding: 20px;
      color: @secondaryText;
    }
  }
}

@media (max-width: 1023px) {
  #search-results {
    left: -240px;
  }
}
