@import "style/variables";

.dir-breadcrumb {
  padding: 0 8px 6px 8px;
  line-height: 30px;

  > div {
    position: relative;
    height: 24px;
    padding: 4px 8px;
    border-radius: 5px;
    text-align: center;
  }
  > div,
  > div a {
    color: @secondaryReversedText;
    font-size: 9pt;
  }
  > div a:hover {
    color: @menuBackground;;
    text-decoration: none;
  }
  .prev,
  .next {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 4px 0;

    .fa {
      margin: 0 5px;
      font-size: 0.75em;
    }
  }
  .prev {
    left: 0;
    text-align: left;
  }
  .next {
    right: 0;
    text-align: right;
  }
}
