#breadcrumb > div {
  position: relative;
  height: 20px;
  padding: 4px;
  background: rgba(25, 25, 25, 0.25);
  text-align: center;
}
#breadcrumb > div,
#breadcrumb > div a {
  color: #999;
}
#breadcrumb .prev,
#breadcrumb .next {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 200px;
  padding: 4px 10px;
}
#breadcrumb .prev {
  left: 0;
  text-align: left;
}
#breadcrumb .next {
  right: 0;
  text-align: right;
}
