@import "style/variables";

.dir-documents {
	text-align: center;
	
	.container {
	  display: inline-block;
	  margin: 0 10px 25px 10px;
	  box-shadow: 1px 1px 5px 1px @tableBorder;
	}

  .document {
    display: block;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
  
  .legend {
    padding: 5px 5px 3px 5px;
    
    .commentaire {
      margin-bottom: 5px;
      line-height: 18px;
    }
    
    .g-remark {
      display: inline-block;
      
      &:not(:first-child) {
        margin-left: 5px;
      }
    }
    
    .date {
      .fa {
        margin-right: 5px;
      }
    }

    .source {
      background-repeat: no-repeat;
      background-position: left 2px;
      background-size: 16px;
      
      .icon-source {
        margin-right: 5px;
        display: inline-block;
        vertical-align: text-bottom;
      }
    }    
  }
}