<div class="dir-documents">
  
  <ul>
    <li ng-repeat="document in documents" style="" class="container">
    
      <a class="document"
         style="background-image: url({{document.path}}); width:{{document.width}}px; height:{{document.height}}px;"
         href="{{document.path}}"
         target="_blank">
      </a>
      
      <div class="legend" style="width:{{document.width}}px;">
        <div class="commentaire" ng-if="document.legende">{{document.legende}}</div>
        <div>
          <div class="g-remark source" ng-if="document.source"><span class="icon-source source-{{getSourceClass(document.source)}}"></span><span>{{document.source}}</span></div>
          <div class="g-remark date" ng-if="document.date"><span class="fa fa-calendar"></span>{{document.date | format:'dateLong'}}</div>
        </div>
      </div>
      
    </li>
    
    <li ng-if="documents.length == 0">Aucun document</li>
  </ul>
  
</div>

