<div id="filters">
  <ul>
    <li ng-repeat="filter in cfg" ng-class="{'active': filter.active}">
      <span class="label" ng-click="toggleActivation(filter)">{{filter.label}} :</span>
      <div class="select-container">
       
       <select ng-model="filter.value" ng-change="activate(filter)">
         <option ng-repeat="option in filter.options" value="{{option.key}}" ng-selected="option.key == filter.value">{{option.label}}</option>
       </select>
      </div>
    </li>
  </ul>
  
</div>
