#filters li {
	display: inline-block;
	margin: 5px 5px 5px 0;
}
#filters li,
#filters select {
	color: #333;
	background: #ccc;
	cursor: pointer;
}
#filters li.active,
#filters .active select {
  color: #eee;
  background: #3498db;
}

#filters .label {
	display: inline-block;
	margin-right: -4px;
}
#filters .label:before {
  content: '\25cf';
  color: gray;
  margin: 0 5px;
}
#filters .active .label:before {
  color: #2ecc71;
}

#filters .select-container {
	position: relative;
  display: inline-block;	
}
#filters .select-container:after {
  content: '\25bc';
  font-size: 8pt;
  position: absolute;
  top: 6px;
  right: 5px;
  pointer-events: none;
}
#filters select {
  -webkit-appearance: none;
	border: none;
	padding: 2px 15px 2px 0;
}

