@import "style/variables";

.dir-filters {

  li {
    display: inline-block;
    margin: 4px 4px 4px 0;
    border-radius: 4px;
    overflow: hidden;
  }
  li,
  select {
    color: @primaryText;
    background: #e8ecf4;
    cursor: pointer;
    padding: 3px 10px;
    font-size: 9.5pt;
  }
  li.active,
  .active select {
    color: #fff;
    background: @importantText;
  }

  .label {
    display: inline-block;
  }
  .label:before {
    content: '\25cf';
    color: #b0bec5;
    margin: 0 5px;
  }
  .active .label:before {
    color: rgba(255,255,255,0.6);
  }

  .select-container {
    position: relative;
    display: inline-block;
  }
  .select-container:after {
    content: '\25bc';
    font-size: 7pt;
    position: absolute;
    top: 2px;
    right: 5px;
    pointer-events: none;
    color: inherit;
  }
  select {
    -webkit-appearance: none;
    border: none;
    padding: 3px 18px 3px 0;
    background: transparent;
    color: inherit;
    cursor: pointer;
  }
}
