@import "style/variables";

.dir-maillot {
  position: relative;
  margin-left: -5px;

  > div > canvas:first-of-type {
    display: none;
  }

  > div > canvas,
  > div > img {
    width: 157px;
    height: 157px;
    display: block;
  }

  .ecusson {
    position: absolute;
    left: 90px;
    top: 41px;
    width: 26px;
    height: 26px;
    object-fit: contain;
  }
}