@import "style/variables";

.dir-maillot {
  position: relative;
  transform: scale(.75);
  margin-left: -20px;
  margin-top: -25px;
  margin-bottom: -25px;

  > div > canvas:first-of-type {
    display: none;
  }
  
  .ecusson {
    position: absolute;
    left: 120px;
    top: 55px;
    max-width: 35px;
    max-height: 35px;
  }
}