<div class="dir-saisie-form">

  <form ng-submit="submit()">

    <input type="hidden" name="id" ng-model="data.id"></input>

    <div class="g-row" ng-repeat="input in cfg.inputs">
      <div class="g-remark">{{input.label}}</div>
      <div>
        <!-- text, date, checkbox -->
        <input ng-if="showInputElement(input.type)" ng-model="data[input.name]" type="{{input.type}}" ng-required="input.required" placeholder="{{input.placeholder}}"></input>

        <!-- select -->
        <select ng-if="input.type == 'select'" ng-model="data[input.name]" ng-options="option.key as option.label for option in input.options" ng-required="input.required">
          <option ng-value=""></option>
        </select>
      </div>
    </div>

    <div class="g-row">
      <input type="submit" class="g-button" value="Valider"></input>
    </div>

    <!--
      <pre>{{data | json}}</pre>
    -->

  </form>
  
</div>