<div class="dir-equipe-saison" ng-if="saison.id">

  <div class="g-row">
    <ul class="entraineurs">
      <li>
        <div class="g-remark">Entraîneur<span ng-if="entraineurs.length > 1">s</span></div>
      </li>
      <li ng-repeat="entraineur in entraineurs">
        <div><span ng-bind-html="'E' | format:'fonction'"></span><span ng-bind-html="Formatter.nomDirigeant(entraineur)"></span></div>
        <div>
          <span class="g-remark" ng-if="!$last || $index > 0"> {{entraineur.nbMatches}} match<span ng-if="entraineur.nbMatches > 1">es</span></span>
          <span class="g-remark" ng-if="!$last">(jusqu'au {{entraineur.fin | format:'dateLong'}})</span>
        </div>
      </li>
    </ul>
  </div>
  
  <div class="g-row">  
    <table>
       <thead class="g-remark">
        <tr>
          <th rowspan="2">Joueur</th>
          <th rowspan="2">Âge</th>
          <th rowspan="2">Nationalité</th>
          <th colspan="2">Total</th>
          <th colspan="2">Champ</th>
          <th colspan="2">Cp Nat</th>
          <th colspan="2">Europe</th>
        </tr>
      
        <tr>
          <th>M</th>
          <th>B</th>
          <th>M</th>
          <th>B</th>
          <th>M</th>
          <th>B</th>
          <th>M</th>
          <th>B</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in joueurs">
          <td><span ng-bind-html="row.joueur.poste | format:'poste'"></span><span ng-bind-html="Formatter.nomJoueur(row.joueur)"></span></td>
          <td>{{Bom.age(row.joueur.age)}}</td>
          <td ng-bind-html="row.joueur.nationalite | format:'flag'"></td>
          <td><span>{{row.total.tit + row.total.rmp}}</span></td>
          <td>{{row.total.buts || '-'}}</td>
          <td><span>{{row.ch.tit || '-'}}</span><span class="g-remark" ng-if="row.ch.rmp > 0">({{row.ch.rmp}})</span></td>
          <td>{{row.ch.buts || '-'}}</td>
          <td><span>{{row.cn.tit || '-'}}</span><span class="g-remark" ng-if="row.cn.rmp > 0">({{row.cn.rmp}})</span></td>
          <td>{{row.cn.buts || '-'}}</td>
          <td><span>{{row.ce.tit || '-'}}</span><span class="g-remark" ng-if="row.ce.rmp > 0">({{row.ce.rmp}})</span></td>
          <td>{{row.ce.buts || '-'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  
</div>