<div class="dir-equipe-saison" ng-if="saison.id">

  <div class="g-row">
    <ul>
      <li>
        <div class="g-remark">Entraîneur<span ng-if="entraineurs.length > 1">s</span></div>
      </li>
      <li ng-repeat="entraineur in entraineurs">
        <div><span ng-bind-html="'E' | format:'fonction'"></span><span>{{entraineur.prenom}} {{entraineur.nom}}</span></div>
        <div>
          <span class="g-remark" ng-if="!$last || $index > 0"> {{entraineur.nbMatches}} match<span ng-if="entraineur.nbMatches > 0">es</span></span>
          <span class="g-remark" ng-if="!$last">(jusqu'au {{entraineur.fin | format:'dateLong'}})</span>
        </div>
      </li>
    </ul>
  </div>
  
  <div class="g-row">  
    <ul>
      <li>
        <div class="g-remark">Joueur</div>
        <div class="g-remark">Âge</div>
        <div class="g-remark">Nationalité</div>
        <div class="g-remark">Tit (rmp)</div>
        <div class="g-remark">Buts</div>
      </li>
      <li ng-repeat="row in joueurs">
        <div><span ng-bind-html="row.joueur.poste | format:'poste'"></span><span>{{row.joueur.prenom}} {{row.joueur.nom}}</span></div>
        <div>{{Bom.age(row.joueur.age)}}</div>
        <div ng-bind-html="row.joueur.nationalite | format:'flag'"></div>
        <div><span>{{row.total.tit}}</span><span class="g-remark" ng-if="row.total.rmp > 0">({{row.total.rmp}})</span></div>
        <div>{{row.total.buts}}</div>
      </li>
    </ul>
  </div>
  
  
</div>