<div class="dir-fiche-saison" ng-if="saison.id">

  <div class="g-row">
    <lvdlom-fullscreenable-photo src="{{Picture.saison(saison.id)}}" photo-class="image-equipe"></lvdlom-fullscreenable-photo>
  </div>

  <div class="g-row">
    <ul>
      <li ng-repeat="row in saison.palmares track by $index">
        <div><span ng-bind-html="row.sousTypeCompetition | format:'sousTypeCompetition'"></span><span>{{row.nomCompetition}}</span></div>
        <div class="g-remark">{{row.bilan}}</div>
      </li>
    </ul>
  </div>
  
  
</div>