<div class="dir-fiche-joueur" ng-class="{mini: cfg.mini}">

  <div class="g-block-title g-row">
    {{joueur.fiche.prenom}} {{joueur.fiche.nom}}
  </div>
  
  <div class="g-block-title g-photo">
    <div class="g-photo-id" style="background-image: url({{Picture.joueur(joueur.id)}});"></div>
  </div>

  <div class="g-row g-info-block row-info">
    <div>
      <div ng-if="joueur.fiche.dateNaissance"><span class="g-fa">°</span>{{joueur.fiche.dateNaissance | format:'dateLong'}}</div>
      <div ng-if="joueur.fiche.villeNaissance"><span class="g-remark">à</span>{{joueur.fiche.villeNaissance}}<span ng-if="joueur.fiche.territoireNaissance"> ({{joueur.fiche.territoireNaissance}})</span></div>
      <div ng-if="joueur.fiche.dateDeces"><span class="g-fa">&#x271d;</span>{{joueur.fiche.dateDeces | format:'dateLong'}}</div>
    </div>
    <div>
      <div ng-bind-html="joueur.fiche.nationalite | format:'flag'"></div>
      <div ng-if="joueur.fiche.selections">{{joueur.fiche.selections}}<span class="g-remark">sélections</span></div>
      <div><span ng-bind-html="joueur.fiche.poste | format:'poste'"></span>{{Bom.poste(joueur.fiche.poste)}}</div>
    </div>
  </div>
  
  
</div>