<div class="dir-palmares-joueur" ng-if="joueur.id">

  <div class="g-row" ng-if="joueur.palmares.length > 0">
    <ul>
      <li ng-repeat="row in joueur.palmares">
        <div class="g-remark saison">{{row.saison}}</div>
        <div><span ng-bind-html="row.sousTypeCompetition | format:'sousTypeCompetition'"></span><span>{{row.competition}}</span></div>
        <div class="g-remark">{{row.bilan}}</div>
      </li>
    </ul>
  </div>
  
  <span ng-if="joueur.palmares.length == 0">Néant</span>
  
</div>