<div class="dir-palmares-joueur" ng-if="joueur.id">

  <div class="g-row" ng-if="joueur.palmares.length > 0">
    <ul>
      <li ng-repeat="row in joueur.palmares" class="trophy-{{row.titre}}">
        <div ng-bind-html="Formatter.saison(row.saison)" class="g-remark"></div>
        <div>
          <span ng-bind-html="row.sousTypeCompetition | format:'sousTypeCompetition'"></span>
          <span>{{row.competition}}</span>
        </div>
        <div class="g-remark">
          <span ng-if="row.titre == 1" class="fa fa-trophy g-fa-left"></span>
          <span>{{row.bilan}}</span>
        </div>
      </li>
    </ul>
  </div>
  
  <span ng-if="joueur.palmares.length == 0">Néant</span>
  
</div>