<div class="dir-stats-joueur" ng-if="joueur.id">

  <div class="g-row">
    <ul>
      <li class="header">
        <div>Saison</div>
        <div><span>Tit</span><span class="g-remark">(rmp)</span></div>
        <div>Buts</div>
      </li>
      <li ng-repeat="(saison, row) in joueur.bilan" ng-if="saison != 'total'"">
        <div class="saison g-remark">{{saison}}</div>
        <div><span>{{row.total.tit}}</span><span class="g-remark">({{row.total.rmp}})</span></div>
        <div>{{row.total.buts}}</div>
      </li>
      <li class="total">
        <div>Total</div>
        <div><span>{{joueur.bilan['total'].total.tit + joueur.bilan['total'].total.rmp}}</span></div>
        <div>{{joueur.bilan['total'].total.buts}}</div>
      </li>
    </ul>
  </div>
  
</div>