@import "style/variables";

.dir-saisie-common-associations {

  > div {
    margin-bottom: 5px;

    .assoc-type {
      width: 90px;

      + select,
      + input {
        width: calc(~"100% - 92px") !important;
      }
    }
  }
}
