<div class="dir-saisie-common-associations">

  <div ng-repeat="association in cfg.data">

    <!-- type -->
    <select ng-model="association.type" ng-options="option.key as option.label for option in docTypes" required="true" class="assoc-type">
      <option ng-value=""></option>
    </select>

    <!-- id -->
    <select ng-model="association.id" ng-if="association.type == 'M'" ng-options="option.key as option.label for option in dictionary.matches" required="true">
      <option ng-value=""></option>
    </select>

    <input ng-model="association.personne" ng-if="association.type == 'J'" type="text" typeahead="option as option.label for option in dictionary.joueurs | filter:$viewValue | limitTo:8" required="true" ng-blur="Widget.restrictTypeahead(association, 'personne', dictionary.joueurs)" class="g-autocomplete"></input>

    <input ng-model="association.personne" ng-if="association.type == 'D'" type="text" typeahead="option as option.label for option in dictionary.dirigeants | filter:$viewValue | limitTo:8" required="true" ng-blur="Widget.restrictTypeahead(association, 'personne', dictionary.dirigeants)" class="g-autocomplete"></input>

    <select ng-model="association.id" ng-if="association.type == 'S'" ng-options="option.key as option.label for option in dictionary.saisons" required="true">
      <option ng-value=""></option>
    </select>

    <button class="g-button g-icon-button g-button-danger" ng-if="!$first" ng-click="deleteRow($event, $index)"><span class="fa fa-times"></span></button>
    <button class="g-button g-icon-button g-button-action" ng-if="$last" ng-click="addRow($event)"><span class="fa fa-plus"></span></button>

  </div>
  
</div>