<div class="dir-saisie-form">

  <form ng-submit="submit()">

    <div class="g-row" ng-repeat="input in cfg.inputs">
      <div class="g-remark">{{input.label}}</div>
      <div>
        <!-- text, date, checkbox -->
        <input ng-if="showInputElement(input.type)" ng-model="data[input.name]" type="{{input.type}}" ng-required="input.required" placeholder="{{input.placeholder}}"></input>

        <!-- select -->
        <select ng-if="input.type == 'select'" ng-model="data[input.name]" ng-options="option.key as option.label for option in input.options" ng-required="input.required">
          <option ng-value=""></option>
        </select>

        <!-- documents -->
        <lvdlom-saisie-documents ng-if="input.type === 'documents'" cfg="documentsCfg"></lvdlom-saisie-documents>
      </div>
    </div>

    <div class="g-row actions">
      <button type="reset" class="g-button" ng-click="reset($event)">
        <span class="fa fa-undo"></span> Réinitaliser
      </button>

      <button type="submit" class="g-button">
        <span class="fa fa-check"></span> Valider
      </button>
    </div>

    
      <pre>{{data | json}}</pre>
    

  </form>
  
</div>